body {
    display: flex;
    overflow: hidden;
    max-height: 100vh;
    height: 100vh;
}

.menu {
    flex-basis: 300px;
    flex-shrink: 0;
    background: yellow;
}

main {
    overflow: auto;
    background: aqua;
    flex-grow: 1;
}

.accordeon2__head, .accordeon__head {
    cursor: pointer;
}

.accordeon2__body, .accordeon__body {
    display: none;
}

.active .accordeon__body {
    display: block;
}

/*Pure CSS Active*/
.accordeon2__checkbox:checked + .accordeon2__body {
    display: block;
}

.accordeon2__checkbox {
    display: none;
    /*visibility: hidden;*/
    /*height: 0;*/
    /*width: 0;*/
}

.activities {
    border: 2px solid red;
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 1;
}

.activities__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
