body {
    display: flex;
    overflow: hidden;
    max-height: 100vh;
    height: 100vh;
}

.menu {
    flex-basis: 300px;
    flex-shrink: 0;
    background: yellow;
}

main {
    overflow: auto;
    background: aqua;
    flex-grow: 1;
}

.accordeon__head {
    cursor: pointer;
}

.accordeon__body {
    display: none;
}

.accordeon__body.active {
    display: block;
}
